#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     color: white;
     padding: 0px;
     background: url(assets/vessels.png);
     background-repeat: repeat;
     background-size: cover;
     background-attachment: fixed; 
  }  
  .logout{
    position: absolute;
    top: 20px; /* Adjust the top padding */
    right: 20px; /* Adjust the left padding */
    background-color:rgb(101, 235, 245);
    padding: 10px;
    border-radius:15px;
    color: #0c0c0c;
    margin: 5%;
    font-size: large;
  }
  .container{
    overflow: hidden; /* Clears floats within the container */
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
   padding-top: 8%;
      
  }
  .vessel{
    padding-top: 0;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    
  }
  .logo{
    border-radius:30px;
    width: 30%;
   justify-content: center;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin: 0 auto;
    box-shadow: 5px 10px 8px 10px #94d4f9;
       
  }
  .VesselFinder{
    border-radius:30px;
    width: 50%;
   justify-content: center;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin: 0 auto;
    box-shadow: 5px 10px 8px 10px #94d4f9;
       
  }
 
  
  .CreateUser{
    margin: 5%;
    border-radius: 40px;
    padding: 25px 50px 75px 50px;
    background-image: linear-gradient(rgb(35, 150, 170), rgb(108, 236, 198));
    color: #0f0000;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 10px 8px 10px #578c8f;
    font-size: 25px; 
   
  
  }
  
  .CreateShipment{
    margin: 5%;
    border-radius: 40px;
    padding: 25px 50px 75px 50px;
    background-image: linear-gradient(rgb(172, 250, 237), rgb(156, 186, 190));
    color: #0f0000;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 10px 8px 10px #888888;
    font-size: 25px; 
  
  
  }
  
  input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .appDropDownsHalf {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: auto;
    background-color: #232523;
    color: white;
    padding: 14px 14px 14px 14px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    font-weight: bold;
    margin: 40px 20px 10px 10px;
    font-size: 20px; 
   
  }
  .buttonContainer{
    display: flex;
    text-align: center; 
    justify-content: center;
    padding: 20px;
    font-size: 20px; 
  }
  
  
  button:hover {
    background-color: #3f4851;
    color: rgb(37, 35, 35);

    
  }
  .delete{
    width: auto;
    text-align: center;
    font-size: 20px; 
    background-color: #0f0000;
  }
  
  form {
    border-radius: 25px;
    background-color: #0f0000;
    padding: 25px 70px 75px 70px;
    margin:50px;
    color: #fdfcfc;
    text-align: center;
    align-items: center;
    font-size: 25px; 
    
  }
  .UserPage{
    margin: 10%;
    border-radius: 40px;
    padding: 25px 50px 75px 50px;
    background-image: linear-gradient(rgb(87, 207, 228), rgb(165, 245, 154));
    color: #0f0000;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 10px 8px 10px #888888;
    font-size: 25px; 
  }
  
  .Login{
    margin: 5%;
    border-radius: 40px;
    padding: 25px 50px 75px 50px;
    background-image: linear-gradient(rgb(28, 125, 236), rgb(43, 173, 196));
    color: #0f0000;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 10px 8px 10px #578c8f;
    font-size: 25px; 
   
  }
  
  .more_space{
    padding: 5px 22px 5px 12px;
  }
  
.table{
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: white;
  margin-left: auto;
  color: black;
  border: black;
  border-color: black;
  padding: 0px;
  overflow-x:visible;
  font-size: 15px; 
  

}


tr:hover {background-color: #ddd;}

th {
border-radius: 5px;
text-align: left;
background-color: #eccfe3;
color: rgb(5, 5, 5);

}
.register {
  width: auto;
  background-color: #0c0c0c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


.searchShipments{
  float: right;
  height: 400px;
  width: 55%;
  padding: 1px 50px 75px 50px;
  font-size: 25px; 
}

.delete:hover {
background-color: #f01414;

}
@media screen and (max-width:768px) {
  #app{
    width:100vw;
  }
}
.footer{

   display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
   padding-top: 5%;
   border-radius: 24px;
   
 }
 
 .vessel{
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
 padding-top: 4%;
 }
 @keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
